[submodule "capture-the-ether-foundry"]
    path = capture-the-ether-foundry
    url = <repository-url>

[submodule "damn-vulnerable-defi"]
    path = damn-vulnerable-defi
    url = <repository-url>

[submodule "solidity-riddles"]
    path = solidity-riddles
    url = <repository-url>

[submodule "ethernaut-foundry-boilerplate"]
    path = ethernaut-foundry-boilerplate
    url = <repository-url>